.react-calendar__tile--active, .react-calendar__tile--rangeStart{
    background: var(--secondary-color) !important;
    border-radius: 5px;
}


.react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button{
    display: none;
}

.react-calendar{
    width: 100%;
    border: none;
}

.react-calendar__month-view__days{
    margin: 10px;
    display: grid !important;
    grid-gap: 5px;
    grid-template-columns: calc(100%/7 - 5px) calc(100%/7 - 5px) calc(100%/7 - 5px) calc(100%/7 - 5px) calc(100%/7 - 5px) calc(100%/7 - 5px) calc(100%/7 - 5px);
}

.react-calendar__month-view__days button{
    padding: 20px 20px;
    /* margin: 2.5px 0; */
}


.react-calendar__navigation__label{
    pointer-events:none;
}

.react-calendar__navigation button{
    font-size: 20px;
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button{
    font-size: 30px !important;
}

.react-calendar__month-view__weekdays{
    padding: 10px 0 15px 0;
    font-size: 15px;
    text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
}

.react-calendar__tile--now{
    background: var(--secondary-color);
    color: white;
    border-radius: 5px;
}


.full-day-attendance {
    background-color: var(--primary-color) !important;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}


.half-day-attendance {
    background-color: rgb(255, 174, 0) !important;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.abset-attendance{
    background-color: rgb(183, 0, 0) !important;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile:disabled{
    /* background-color: #f1f1f1; */
    background-color: white;
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button{
    display: none;
}

.sunday {
    background-color: lightgray !important;
    color: white;
    border-radius: 10px;
  }
  
  .holiday {
    /* background-color: #fca5a5; */
    background-color: #63b3ed !important;
    color: white;
    border-radius: 10px;
  }
  
  .absent {
    background-color: rgb(183, 0, 0);
    color: white;
    border-radius: 10px;
  }

@media(max-width: 767px){

    .react-calendar__month-view__days button{
        padding: 20px 20px;
        margin: 2.5px 0;
    }
}