@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: #292929;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-color: #454545;
  --primary-color: #188389;
  --primary-color-rgb: #18838921;
}

/* Dark Mode Start */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #292929;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    color-scheme: light;
    --in: 0.7206 0.191 231.6;
    --su: 64.8% 0.15 160;
    --wa: 0.8471 0.199 83.87;
    --er: 0.7176 0.221 22.18;
    --pc: 0.89824 0.06192 275.75;
    --ac: 0.15352 0.0368 183.61;
    --inc: 0 0 0;
    --suc: 0 0 0;
    --wac: 0 0 0;
    --erc: 0 0 0;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 0.4912 0.3096 275.75;
    --s: 0.6971 0.329 342.55;
    --sc: 0.9871 0.0106 342.55;
    --a: 0.7676 0.184 183.61;
    --n: 0.321785 0.02476 255.701624;
    --nc: 0.894994 0.011585 252.096176;
    --b1: 1 0 0;
    --b2: 0.961151 0 0;
    --b3: 0.924169 0.00108 197.137559;
    --bc: 0.278078 0.029596 256.847952;
  }
}
/* Dark Mode End */

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  font-size: 14px;
  min-height: 100vh;
}
input::-webkit-calendar-picker-indicator {
  filter: invert(0) !important;
}
.web-clr {
  color: var(--primary-color);
}
.footer-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.btn {
  padding: 15px 20px;
  height: auto;
  min-height: auto;
  border-radius: 5px;
  font-size: 14px;
}
.btn-sm {
  font-size: 12px;
  padding: 12px 15px;
}

.web-btn,
.web-btn:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color) !important;
  color: white;
}

.company-heading {
  order: 2;
}
.card-body {
  width: 100%;
  overflow: auto;
}
.react-confirm-alert-body > h1 {
  font-size: 2rem;
  font-weight: bold;
}
.react-confirm-alert-body {
  font-size: 1rem;
  text-align: center !important;
}
.react-confirm-alert-button-group {
  justify-content: center !important;
}
.react-confirm-alert-button-group > button {
  width: 40%;
  height: 40px;
}
.web-box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.web-box .box-heading {
  padding: 15px 20px;
  background-color: #c0c0c0;
}
.web-box .box-heading .heading {
  font-size: 16px;
  font-weight: bold;
}
.web-box .box-body {
  padding: 20px;
}
.web-bg {
  background-color: var(--primary-color);
}
.table tr th {
  font-weight: 600;
}
.table tr th,
.table tr td {
  color: black;
  font-size: 14px;
  white-space: nowrap;
}
.table tr.web-bg th {
  color: white;
  border-color: var(--primary-color) !important;
}
.table-bordered tr th,
.table-bordered tr td {
  border: 1px solid #ddd;
}
.table.table-hoverable tr:hover td {
  background-color: #f2f2f263;
}
.table .table tr th,
.table .table tr td {
  font-size: 12px;
  padding: 5px 10px;
}
.table .table tr td {
  background-color: white !important;
}
.badge {
  padding: 10px 5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
}
.badge.bg-success,
.badge.bg-info,
.badge.bg-primary {
  color: white;
}
.badge.bg-danger {
  background-color: #dc3545;
  color: white;
}
.bg-white {
  background-color: white !important;
}
.page-heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.web-wrapper {
  width: 100%;
}

.web-modal .heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.web-modal .heading .close-btn,
#closeButton {
  padding: 0px;
  font-size: 16px;
  line-height: 0;
  height: auto;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px !important;
  min-height: 40px;
  background-color: #eee;
  border-radius: 50px;
  opacity: 1;
  color: black;
}
.web-modal .heading .close-btn {
  font-size: 20px;
}
.web-modal .join input {
  width: 100% !important;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}
.label-text {
  margin-bottom: 10px !important;
  display: block;
}
select {
  -webkit-appearance: none;
  background: url(../../public/img/down.svg) 95% center no-repeat #eee;
}
.form-control {
  background-color: #eee;
  border: 1px solid #bbb;
  color: black !important;
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
}
.form-control::placeholder {
  color: grey;
}
.input-group {
  position: relative;
}
.input-group .form-control {
  padding-right: 60px;
}
.input-group .input-edit-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 0;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 5px;
}
.input-group textarea + .input-edit-btn {
  top: 10px;
  transform: unset;
}
.form-group .ml-2.bg-blue-200.text-lg {
  margin-top: 5px;
  border-radius: 50px;
  margin-left: 0px;
  color: #fff;
  background-color: #4f46e5;
  font-size: 18px;
  padding: 3px;
  position: absolute;
  bottom: -30px;
  right: 30px;
  z-index: 1;
}
.form-group .ml-2.bg-red-200.text-lg {
  margin-top: 5px;
  border-radius: 50px;
  margin-left: 5px;
  color: #fff;
  background-color: #e54646;
  font-size: 18px;
  padding: 3px;
  position: absolute;
  bottom: -30px;
  right: 0px;
  z-index: 1;
}
.text-capitalize {
  text-transform: capitalize;
}
.upload-btn {
  background-color: #eee;
  border: 1px solid #bbb;
  color: black;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
}

.mobile-logo {
  height: 45px;
  object-fit: contain;
}
hr {
  border-color: #ddd;
}

@media (max-width: 767px) {
  .web-wrapper {
    padding: 0px 15px;
  }
}
/* Common Css End */

/* Project Listing Work Start */
.project-listing {
  padding-bottom: 30px;
}
.project-listing .box-heading {
  padding: 10px 20px;
}
.project-listing .box-heading .input {
  height: 40px;
  width: 70%;
}
.project-listing .box-heading .btn {
  height: 40px;
  padding: 0px 20px;
  min-height: 40px;
}
.project-listing .box-body .web-btn {
  margin-bottom: 15px;
}
.project-listing .table {
  background-color: white;
}
.project-listing a {
  color: #0c66e4;
}
.project-listing a:hover {
  text-decoration: underline;
}
.project-listing .project-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 600;
}
.project-listing .table tr td {
  background-color: #eee;
}
.project-listing .table tr td {
  position: relative;
}
.project-listing .table .table-arrow {
  width: 82px;
  height: auto;
  position: absolute;
  right: -10px;
  top: -30px;
  z-index: 1;
}
.project-listing .table .table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.default-dropdown button {
  background-color: #d9d9d9;
  padding: 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 5px;
  font-size: 14px;
}
.default-dropdown button svg {
  font-size: 12px;
}
.default-dropdown .dropdown-content {
  background-color: white;
  border: 1px solid #bcbcbc;
  min-width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 0px;
  margin-right: 10px;
}
.default-dropdown .dropdown-content li a {
  display: block;
  color: black;
  border-radius: 0px;
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s 0s linear;
}
.default-dropdown .dropdown-content li:last-child a {
  border: none;
}
.default-dropdown .dropdown-content li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}
@media (max-width: 767px) {
  .project-listing .box-heading .btn {
    padding: 0px 10px;
  }
  .project-listing .btn-error {
    padding: 0px !important;
  }
  .project-listing .btn-error svg {
    font-size: 18px;
  }
  .project-listing .btn-error span {
    display: none;
  }
  .project-listing .box-body .web-btn {
    margin-bottom: 0px;
  }
  .project-listing .project-name {
    pointer-events: none;
  }
  .project-listing .project-name svg {
    display: none;
  }
  .default-dropdown .dropdown-content {
    min-width: 180px;
    left: 90px;
    top: -50px;
  }
  .table-in-box-view.table thead,
  .table-in-box-view.table th {
    display: none;
  }
  .table-in-box-view.table tr {
    display: block;
    border: 1px solid #ddd !important;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px 15px 15px;
    margin: 15px 0px;
  }
  .table-in-box-view.table td {
    display: inline-block;
    border: none !important;
    position: relative;
    padding: 0px !important;
    margin-top: 15px;
    margin-right: 15px;
    line-height: 14px;
    min-width: 41%;
    text-align: left !important;
    background-color: transparent !important;
  }
  .table-in-box-view.table td:before {
    content: attr(data-label);
    position: relative;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: var(--websitecolor);
    padding: 0px 5px 0px 0px;
    display: block;
    margin-bottom: 5px;
    font-family: var(--headingfont);
    font-weight: bold;
  }
}
/* Project Listing Work End */

/* Project Details Work Start */
.project-details {
  padding-bottom: 30px;
}
.project-details p {
  color: grey;
}
.project-details .sub-heading {
  font-weight: 600;
  margin: 0px;
  font-size: 16px;
}
.project-details .right-side hr {
  margin: 10px 0px;
  border-color: #ddd;
}
.project-details .right-side p {
  color: black;
}
.project-details .team-section .team-name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-details .team-section .team-name img {
  background-color: #eee;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}
.project-details .project-title-input {
  margin-bottom: 20px;
  box-shadow: none;
  outline: none !important;
  border: 1px solid #e7e7e7;
  font-weight: 600;
  transition: all 0.3s 0s linear;
}
.project-details .project-title-input:hover {
  background-color: #efefef;
}

.project-details .box {
  background-color: #eee;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}
.project-details .box .delete-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 0;
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-details .box a {
  display: flex;
  gap: 15px;
}
.project-details .box img {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 8px;
  padding: 8px;
  object-fit: contain;
}
.project-details .box .content {
  width: calc(100% - 55px);
}
.project-details .box .content .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  width: calc(100% - 40px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.project-details .box .content .title .btn {
  padding: 8px 15px;
  border-radius: 5px;
}
.project-details .box .content .badge {
  font-size: 12px;
  color: white;
  border-radius: 5px;
}
.project-details .box .content .badge.bg-default {
  color: var(--foreground-rgb);
}
.project-details .box .content .date {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 55px;
  justify-content: space-between;
}
.project-details .box .content .date p {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  min-width: calc(20% - 55px);
}

.project-details .team-box-project-detail {
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 7%);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-details .team-box-project-detail img {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.project-details .team-box-project-detail h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.project-details .project-detail-right-box {
  padding: 15px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 7%);
  border-radius: 10px;
  overflow: hidden;
  position: sticky;
  top: 20px;
}

.project-details .project-detail-right-box .project-side-list {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-details .project-detail-right-box .project-side-list select {
  padding: 7px 10px;
}

.project-details .project-detail-right-box .project-side-list input {
  padding: 7px 10px;
}

.project-details .project-detail-right-box .drawer-content {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.project-details .project-detail-right-box .drawer-open-btn {
  background-color: var(--primary-color);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  color: white;
  font-weight: 600;
  transition: all 0.3s 0s linear;
  border-radius: 7px;
}

.project-details .project-detail-right-box .drawer-open-btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.project-details .project-detail-right-box .drawer-side {
  overflow-x: hidden;
}

.project-details .project-detail-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
  color: #686868;
}

.project-details .project-detail-modal {
  min-height: 60vh;
}

@media (max-width: 1399px) {
  .app-project-details .project-detail-right-box .project-side-list {
    border-bottom: none;
    border-top: 1px solid #e7e7e7;
  }

  .app-project-details .project-detail-right-box .sub-heading {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .project-details .team-section .team-name {
    padding-right: 25px;
  }
  .project-detail-modal {
    padding: 15px;
  }

  .project-details .box .content .date {
    justify-content: space-between;
  }

  .project-details .box .content .date .sub-project-p-mobile {
    text-align: end;
  }

  .project-details .box .content .date p {
    min-width: unset;
  }
}
/* Project Details Work End */

.btn-xs {
  padding: 5px;
  color: white;
}

.dropdown-menus {
  padding: 0px;
}
.dropdown-menus .dropdown-item {
  position: relative;
  width: 100%;
}
.dropdown-menus > .dropdown-item > details {
  width: 100%;
}
.dropdown-menus > .dropdown-item > details > summary {
  padding: 10px 57px 10px 15px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  gap: 10px;
  font-size: 14px;
}
.dropdown-menus > .dropdown-item > details ul li summary {
  margin-bottom: 10px;
}
.menu :where(li ul):before {
  display: none;
}
.dropdown-menus > .dropdown-item > details > summary:before {
  content: "";
  position: absolute;
  right: 45px;
  top: 6px;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.dropdown-menus > .dropdown-item > details:hover > summary {
  background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-menus > .dropdown-item > details[open] > summary {
  background-color: var(--primary-color);
  color: white;
}
.dropdown-menus > .dropdown-item.active > details > summary {
  background-color: var(--primary-color);
  color: white;
}
.dropdown-menus > .dropdown-item > details[open] + .plus-dropdown summary {
  color: white;
}

.dropdown-menus .dropdown-item details summary svg {
  font-size: 14px;
}
.plus-dropdown {
  position: absolute;
  right: 10px;
  top: 6px;
  padding: 0;
}
.plus-dropdown summary {
  padding: 0px !important;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px !important;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.plus-dropdown:hover summary {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.plus-dropdown:focus-within summary {
  background-color: var(--primary-color) !important;
  color: white;
}
.dropdown-menus
  > .dropdown-item
  > details[open]
  + .plus-dropdown:focus-within
  summary {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.plus-dropdown summary:before {
  display: none;
}
.plus-dropdown summary svg {
  width: 16px;
  height: 16px;
}
.plus-dropdown summary:after {
  display: none;
}
.plus-dropdown .dropdown-content {
  background-color: white;
  border: 1px solid #bcbcbc;
  min-width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 45px;
  right: -35%;
  padding: 10px 0px;
}
.plus-dropdown .dropdown-content li button {
  color: black;
  border-radius: 0px;
  padding: 8px 20px;
  border-bottom: 1px solid #ddd;
}
.plus-dropdown .dropdown-content li:last-child button {
  border: none;
}
.plus-dropdown .dropdown-content li button svg {
  font-size: 14px;
}
.plus-dropdown .dropdown-content li button:hover {
  background-color: var(--primary-color);
  color: white;
}
.admin-sidebar {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.admin-sidebar .logo {
  width: 100%;
  height: 50px;
  object-fit: contain;
  margin-bottom: 20px;
}
.admin-sidebar label {
  margin-bottom: 15px;
  font-weight: 600;
  display: block;
}
.admin-sidebar nav .nav-item {
  padding: 10px 15px !important;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-size: 14px;
}
.admin-sidebar nav .nav-item.active {
  background-color: var(--primary-color) !important;
  color: white;
}
.admin-sidebar nav .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.admin-sidebar nav .nav-item svg {
  width: 14px;
  height: 14px;
}
.sidebar-main-btns {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.sidebar-main-btns:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-main-btns svg {
  width: 14px;
  height: 14px;
}
.btn-error {
  color: white;
  background-color: #dc3545;
  border-color: #dc3545;
}
.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
  top: 20px;
  position: absolute;
}
.menu :where(li > details[open] > summary):after,
.menu :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
  top: 16px;
}

.visit-table tr th {
  white-space: nowrap;
  color: var(--primary-color);
}
.visit-table tr th,
.visit-table tr td {
  padding: 5px 10px;
}
.visit-table .location-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 10px;
  line-height: 14px;
}
.visit-table .title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
}
.visit-table img {
  width: 50px;
  height: 40px;
  object-position: cover;
  background-color: #eee;
  border-radius: 5px;
  font-size: 0px;
}

.page-loader {
  position: fixed;
  width: 100%;
  height: calc(100vh - 68px);
  background-color: white;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .task-card {

} */

.task-searchbar {
  position: fixed;
  top: 12px;
  left: 80px;
  width: 220px;
}

.task-searchbar input {
  padding: 5px;
  border: 1px solid;
  border-radius: 15px;
}

.visit-punch-button {
  position: fixed;
  bottom: 10px;
  right: 0px;
}

.taskTextArea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
}

/* Common CSS Start */
.container {
  padding: 0px 20px;
}
.css-1633um2-MuiPaper-root {
  background-color: transparent;
  box-shadow: none;
  font-family: inherit;
  border-radius: 0px;
  font-weight: unset;
  font-size: inherit;
  line-height: unset;
  padding: 0px;
  text-align: left;
  color: inherit;
  letter-spacing: unset;
}
.search-bar {
  background-color: #eee;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.search-bar button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: grey;
}
.search-bar input {
  width: calc(100% - 80px);
  height: 45px;
  padding: 10px 0px;
  background-color: transparent;
  outline: 0;
  font-size: 16px;
}
.search-bar input::placeholder {
  color: grey;
}
.breadcrumb {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 10px;
}
.breadcrumb ol {
  flex-wrap: wrap;
}
.header {
  margin-bottom: 30px;
}
.header .header-heading {
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .header {
    padding: 15px 0px;
    margin-bottom: 10px;
  }
  .breadcrumb {
    margin-bottom: 20px;
    padding: 10px;
  }
  .breadcrumb .mr-4 {
    margin-right: 5px;
  }
  .breadcrumb li a {
    align-items: center;
  }
}
/* Common CSS End */

/* Page Header Work Start */
.page-header {
  padding: 15px 0px;
}
.page-header .d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.page-header .name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.page-header .name svg {
  font-size: 16px;
}
.page-header .title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px;
}
/* Page Header Work End */

/* Projects Work Start */
.projects {
  padding: 30px 0px 0px;
}
.page-title {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-title svg {
  margin-left: 10px;
  font-size: 18px;
}

.projects .box {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  position: relative;
}
.projects .box .delete-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .box .edit-btn {
  position: absolute;
  right: 55px;
  top: 15px;
  z-index: 1;
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects .box a {
  display: flex;
  gap: 15px;
}
.projects .box img {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 8px;
  padding: 8px;
  object-fit: contain;
}
.projects .box .content {
  width: calc(100% - 55px);
}
.projects .box .content .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.projects .box .content .title .btn {
  padding: 8px 15px;
  border-radius: 5px;
}
.projects .box .content .badge {
  font-size: 12px;
  color: white;
  border-radius: 5px;
}
.projects .box .content .badge.bg-default {
  color: var(--foreground-rgb);
}
.projects .box .content .date {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 55px;
  justify-content: space-between;
}
.projects .box .content .date p {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  min-width: calc(20% - 55px);
}

.projects select {
  background-color: #e7e7e7;
  box-shadow: none;
  outline: none !important;
  border: none;
  height: 45px;
  min-height: 45px;
}

@media (max-width: 767px) {
  .projects {
    padding: 5px 0px 20px;
  }
  .page-title {
    font-size: 16px;
  }
  .projects .box .content .date {
    gap: 10px 25px;
  }
  .projects .box .content .date p {
    font-size: 12px;
    line-height: 16px;
    min-width: calc(50% - 12.5px);
  }
  .projects .box .content .date p.sub-project-p-mobile {
    text-align: end;
  }
  .projects .box .content .title {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .projects .box .delete-btn {
    top: 10px;
    right: 10px;
    padding: 0px 10px;
  }
}
/* Projects Work End */

/* tasks-list-admin work start */

/* .task-list-admin {
  padding: 30px 0px 0px;
} */

.task-list-admin .page-title {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-list-admin .page-title svg {
  margin-left: 10px;
  font-size: 18px;
}

.task-list-admin select {
  background-color: white;
  box-shadow: none;
  outline: none !important;
  border: 1px solid #cccccc;
  height: 38px;
  min-height: 38px;
  border-radius: 4px;
  padding: 0px 10px;
  min-width: 150px;
}

.task-list-admin .box {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 20%);
  border: 1px solid #c9c9c9;
}
.task-list-admin .box .delete-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1;
  padding: 0px;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.task-list-admin .box .view-btn {
  right: 55px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.task-list-admin .box a {
  display: flex;
  gap: 15px;
}
.task-list-admin .box img {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #fff;
  margin-top: 3px;
  border-radius: 8px;
  padding: 8px;
  object-fit: contain;
}
.task-list-admin .box .content {
  width: calc(100% - 25px);
}
.task-list-admin .box .content .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.task-list-admin .box .title .btn {
  padding: 8px 15px;
  border-radius: 5px;
}
.task-list-admin .box .badge {
  font-size: 12px;
  color: white;
  border-radius: 5px;
}
.task-list-admin .box .badge.bg-default {
  color: var(--foreground-rgb);
}
.task-list-admin .box .date {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 30px;
  width: 80%;
}
.task-list-admin .box .date p {
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  width: 30%;
}
.task-list-admin .box .date p span {
  margin-bottom: 5px;
  font-weight: 600;
  display: block;
  font-size: 12px;
}
.task-list-admin .box .disable-task-date {
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 80%);
}
.task-list-admin .box .task-list-bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.task-list-admin .box .task-list-bottom .task-detail-btn {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
}

.task-list-admin .box .task-list-main-input {
  width: 90%;
}
.task-list-admin .box .task-list-main-input .form-control {
  background-color: white;
}
.task-list-admin .task-topbar {
  margin-bottom: 15px;
}
.task-list-admin .task-topbar select {
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  background-color: var(--primary-color-rgb);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 40px;
  height: 40px;
  min-height: unset;
  width: 100%;
  min-width: 100%;
}

.task-list-admin .search-bar input {
  height: 40px;
  font-size: 12px;
}

.task-list-admin .search-bar button {
  width: 40px;
  height: 40px;
}

.task-list-admin .task-list-heading {
  margin-bottom: 20px;
  margin-top: 20px;
}

.task-list-admin .css-10o2lyd-MuiStack-root {
  padding-top: 0px;
  overflow: visible;
}

.task-list-admin .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 0px 7.5px 10px;
  font-size: 14px;
  height: 25px;
}

.task-list-admin .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  margin-left: 0;
  padding: 3px;
}

.task-list-admin .datepicker-div {
  display: flex;
  align-items: center;
  height: 37px;
}

.task-list-admin .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 6px;
}

.task-list-admin .search-bar {
  border-radius: 6px;
  background-color: var(--primary-color-rgb);
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 0px;
}

.task-list-admin .search-bar input::placeholder {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 12px;
}

.task-list-admin .search-bar svg {
  color: var(--primary-color);
  font-size: 14px;
}

@media (max-width: 767px) {
  .task-list-admin .page-title {
    font-size: 16px;
  }
  .task-list-admin .task-topbar {
    margin-bottom: 10px;
  }
  .task-list-admin .search-bar input {
    height: 45px;
    font-size: 16px;
  }
  .task-list-admin .search-bar input::placeholder {
    font-size: 16px;
  }
  .task-list-admin .search-bar button {
    width: 45px;
    height: 45px;
  }
  .task-list-admin .search-bar button svg {
    font-size: inherit;
  }
  .task-list-admin .box .date {
    gap: 10px 10px;
  }

  .task-list-admin .box .date p {
    font-size: 12px;
    line-height: 16px;
    width: 48%;
  }
  .task-list-admin select {
    width: 100%;
    min-width: 100%;
  }

  .task-list-admin .box .content .date p.sub-project-p-mobile {
    text-align: end;
  }

  .task-list-admin
    .box
    .content
    .date
    p.sub-project-p-mobile
    .css-b62m3t-container {
    text-align: start;
  }

  .task-list-admin .box .content .title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .task-list-admin .box .view-btn {
    right: 50px;
  }

  .task-list-admin .box .task-list-main-input {
    width: 80%;
  }

  .task-list-admin .mobile-filter-task-list {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: -10px;
  }
  .task-list-admin .mobile-filter-task-list .link {
    margin-top: 10px;
  }
  .task-list-admin .mobile-filter-task-list .filter-btns {
    padding: 4px 10px;
    border-radius: 30px;
    border: 1px solid #cccccc;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .task-list-admin .mobile-filter-task-list .filter-btns.active-filter {
    background-color: var(--primary-color-rgb);
    color: var(--primary-color);
  }

  .task-list-admin .mobile-filter-task-list .filter-btns svg {
    font-size: 10px;
    margin-left: 5px;
  }

  .task-list-admin .search-bar {
    margin-bottom: 0;
  }

  .task-list-admin .task-list-heading {
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

/* tasks-list-admin work end */

/* Task Detail Work Start */

.task-details .collapse-title {
  min-height: auto;
  padding: 0px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}
.task-details .collapse-title:after {
  right: 10px;
}
.task-details .collapse-content {
  padding: 0px;
}
/* Task Detail Work End */

/* Dashboard Work Start */
.dashboard .dashboard-box {
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 7%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.dashboard .dashboard-box .icon {
  width: 80px;
  height: 80px;
  padding: 20px;
}
.dashboard .dashboard-box .icon.default-color {
  color: var(--primary-color);
  background-color: var(--primary-color-rgb);
}
.dashboard .dashboard-box .content {
  width: calc(100% - 80px);
  padding: 10px 20px;
}
.dashboard .dashboard-box .number {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.dashboard .dashboard-box .title {
  font-weight: 500;
}
.dashboard .dashboard-box.chart {
  padding: 20px;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 767px) {
  .dashboard .dashboard-box .icon {
    width: 50px;
    height: 100%;
    padding: 12px;
  }
  .dashboard .dashboard-box .content {
    width: calc(100% - 50px);
    padding: 10px;
  }
  .dashboard .dashboard-box .number {
    font-size: 20px;
    line-height: 26px;
  }
  .dashboard .dashboard-box .title {
    font-size: 12px;
  }
  .dashboard .dashboard-box.chart {
    gap: 15px;
  }
  .dashboard .dashboard-box.chart .css-11ahb4m-MuiResponsiveChart-container {
    height: 182px;
  }
}
/* Dashboard Work End */

/* Task Status Work Start */
.task-status .box .content {
  width: calc(100% - 84px);
}
.task-status .box .edit-btn,
.task-status .box .delete-btn {
  top: 50%;
  transform: translate(0, -50%);
}
/* Task Status Work End */

/* Task List App Work Start */
.task-list-app .box .content {
  width: calc(100% - 55px);
}
.task-list-app .box .content .date {
  width: 100%;
  gap: 10px;
}
.task-list-app .box .content .date p:first-child {
  width: 100%;
}
.task-list-app .box .content .date p {
  font-size: 14px;
  line-height: 20px;
  width: calc(50% - 12.5px);
}
.task-list-app .box .content .date p b {
  font-size: 16px;
}
.task-list-app .mobile-filter-task-list {
  margin-top: 5px;
  margin-bottom: 15px;
}
.task-list-app .search-bar input {
  font-size: 16px;
  height: 45px;
}
.task-list-app .search-bar input::placeholder {
  font-size: 16px;
}
.task-list-app .search-bar button {
  width: 45px;
  height: 45px;
}
.task-list-app .search-bar svg {
  font-size: inherit;
}
.task-list-app .box {
  margin-bottom: 15px;
}
/* Task List App Work End */
