.admin-sidebar {
  z-index: 10 !important;
}

@media (max-width: 767px) {
  .admin-sidebar {
    width: 280px;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar-visible {
    transform: translateX(0);
  }

  .sidebar-hidden {
    transform: translateX(-280px);
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
  }

  .task-sidebar {
    width: 280px;
    transition: transform 0.3s ease-in-out;
  }
}
